@model Product

@{ 
    //Layout = "_BasicLayout"; because it' already existis in _ViewStart
    ViewBag.Title = "Product Name";
}

<div data-productid="@Model.ProductID" data-stocklevel="@ViewBag.StockLevel">
    <p>Product Name: @Model.Name</p>
    <p>Product Price: @($"{Model.Price:C2}")</p>

    <p>Stock Level:
        @if(ViewBag.StockLevel == 0)
        {
            @:Out of Stock
        } else if(ViewBag.StockLevel > 0 && ViewBag.StockLevel <= 3)
        {
            <b>Low Stock(@ViewBag.StockLEvel)</b>
        }
        else
        {
            @:@ViewBag.StockLevel in Stock
        }
    </p>
</div>
